<center>


<form action="/merchants" method="post">

  <label for="merchants"><p class="formtext">Merchant:</label>
  <input type="text" name="name"><br>

 <br>
  <input type='submit' class="addlink" value="Add Merchant">
</form>


<br>
<br>
<a href="/"><p class="text">Back</a>


