<a href="/transactions/new"><div class="option">
  <p>Add Transaction</p>
</div></a>


<a href="/transactions"><div class="option">
  <p>View Transactions</p>
</div>
</a>

<div class="total_expenditure">
Total Expenditure:
<p class="total">£<%= @analysis.total_expenditure %></p>
</div>




