<!DOCTYPE html>
<html>
<head>
  <title>MoneyCashboard</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
      <ul>
        <li><a href="/merchants">Merchants</a></li>
        <li><a href="/tags">Tags</a></li>
        <li><a href="/transactions">Transactions</a></li>
      </ul>
   
  <main>
    <%= yield %>
  </main>
  <footer>CodeClanLibrary &copy 2016</footer>
</body>
</html>