<!DOCTYPE html>
<html>
<head>
  <title>MoneyCashboard</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<header>
MoneyCashBoard
</header>
<div class="nav">
<a href="/merchants"><button class="link">All Merchants</button></a>
<a href="/tags"><button class="link">All Categories</button></a>
 <a href="/transactions"><button class="link">All Transactions</button></a>
 <a href="/"><button class="home">Home</button></a>
   </div>

  <main>
    <%= yield %>
  </main>
  
  <footer></footer>
</body>
</html>