<!DOCTYPE html>
<html>
<head>
  <title>MoneyCashboard</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<header>
MoneyCashBoard
</header>
<div class="nav">
Quick view:
<a href="/merchants"><button class="link">Merchants</button></a>
<a href="/tags"><button class="link">Tags</button></a>
 <a href="/transactions"><button class="link">Transactions</button></a>
   </div>

  <main>
    <%= yield %>
  </main>
  <footer></footer>
</body>
</html>