body {
  background-color: #f7f2ef;
}


footer {
  background-color: #57433a;
  height: 5px;
  width: 50%;
  border-radius: 3%;
  margin: 0 auto;
}

header {
  color: #57433a;
  font-family: helvetica;
  font-size: 2em;
  font-weight: bold;
   display: block;
   background-color: #d0bdb7;
   height: 100%;
   width: 50%;
   margin: 0 auto;
   padding: 10px;
   border: #57433a 3px solid;
   border-radius: 3%;
   text-align: center;
  }



.nav {
   /*  color: #57433a;*/
     font-family: helvetica;
     font-size: 0.7em;
     font-weight: bold;
      display: block;
      background-color: #f7f2ef;;
      margin: 3px auto;
      padding: 3px;
  /*    border: #57433a 3px solid;
      border-radius: 3%;*/
     
      width: 50%;
      text-align: center;
     }

/*  .button {
    background-color: #57433a;
    width: 20px;
    font-size: 0.7em;
  }*/

.link {
  background-color: #57433a;
  width: 23%;
  font-size: 0.9em;
  border: 0px;
  color: #f7f2ef ;
  padding: 5px;
  margin: 4px;
  border-radius: 10%;
}

.addlink {

    background-color:  #f7f2ef;
    color: #57433a;
    border: 1px solid #57433a;
  width: 23%;
  font-size: 0.75em;
  padding: 5px;
  margin: 2.5px;
  border-radius: 0%;
  font-weight: normal;
}
.home {
  background-color: #79655e; 
  width: 23%;
  font-size: 0.9em;
  border: 1px solid #d0bdb7;
  color: #f7f2ef ;
  padding: 5px;
  margin: 4px;
  border-radius: 10%;
}

.link:hover
{
  /*background-color: #d0bdb7;*/
  background-color: #8bc9ce;
  font-weight: bold;
  color: #57433a;

}

.addlink:hover
{
  background-color: #57433a;
  color: #f7f2ef;
  border: 1px solid #f7f2ef;

}

.home:hover
{
  background-color: #d0bdb7;
  color: #57433a;
  font-weight: bold;
}

 .option {
    color: #57433a;
    font-family: helvetica;
    font-size: 1em;
    font-weight: bold;
     display: block;
     background-color: #d0bdb7;
     margin: 5px auto 0px auto;
     padding: 5px;
     border: #57433a 3px solid;
     border-radius: 3%;
     text-align: center;
     width: 50%;
    }

 .total_expenditure {

      color: #57433a;
      font-family: helvetica;
      font-size: 1em;
      font-weight: bold;
       display: block;
       background-color: #f7f2ef;
       margin: 5px auto 0px auto;
       padding: 15px 0px 0px 0px;
       border: 0px;
       border-radius: 3%;
       text-align: center;
       width: 50%;
    }

    .total {
      font-size: 3em;
      line-height: 0.5;
    }

    #transaction_index {
      font-size: 0.8em;
      border: #57433a 1.5px solid;

    }

.container {
  display: flex;
  flex-direction: column;
  background-color: #79655e;
  width: 60%;
  margin: 15px auto;
  padding: 2px;
  color: #d0bdb7;
  font-family: helvetica;
  font-size: 1em;
  text-align: center
}



.item {
  background-color: #d0bdb7;
  padding: 3px;
  margin: 3px;
  color: #57433a;
  font-family: helvetica;
  font-size: 0.8em;
 
}

/*.item {
  background-color: #d0bdb7;
  padding: 3px;
  margin: 3px;
  color: #57433a;
  font-family: helvetica;
  font-size: 0.8em;
  font-weight: bold; 
  width: 20%;
}*/