<form action="/tags" method="post">

  <label for="tag"><p class="formtext">Category:</label>
  <input type="text" name="tag"><br>

 <br>
  <input type='submit' class="addlink" value="Add Category">
</form>


<br>
<br>
<a href="/"><p class="text">Back</a>


