<h2>New Transaction</h2>

<form action="/transactions" method="post">

<label for="amount">Amount:</label>
<input type="text" name="amount"><br>

<label for="merchant_id">Merchant:</label>
<select name="merchant_id">
<% @merchants.each do |merchant| %>
<option value="<%= merchant.id %>"> <%= merchant.name  %>
</option>
</select>


<label for="tag_id">Category:</label>
<select name="tag_id">
<% @tags.each do |tag|  %>
<option value="<%= tag.id  %>"> <%= tag.tag  %>
 </option>
 <% end %>
 </select>

<input type='submit' value="Add Transaction">
</form>


