<div>
<center>
<p class="text">Add a New Transaction</p>
<form action="/transactions" method="post">

<label for="amount"><p class="formtext">Amount:</label>
<input type="text" name="amount"><br>
<br>

<label for="merchant_id">Merchant:</label>
<select name="merchant_id">
<% @merchants.each do |merchant| %>
<option value="<%= merchant.id %>"> <%= merchant.name  %>
</option>
<% end %>
</select>
<br><br>


<label for="tag_id">Category:</label>
<select name="tag_id">
<% @tags.each do |tag|  %>
<option value="<%= tag.id  %>"> <%= tag.tag  %>
 </option>
 <% end %>
 </select>
<br><br></p>
 <input type='submit' value="Add Transaction" class="addlink">
</form>
<br><br><br>
</center>
</div>


